html
  head
  title!= title
  link(rel="stylesheet", href="styles.css")

body
  header
    h1 Dust Audio Zine
    nav
      ul
        li
          a(href='/') Main
        li
          a(href='/about') About
  main
    p this is the #{title} content

  footer (C) never

  script(src="scripts.js")
