html
  head
  title!= title
  //- link(rel="stylesheet", href="/styles.css")

body
  header
    h1 
        a(href='/') Dust Audio Zine
  
  noscript For full functionality of this site it is necessary to enable JavaScript. Here are the <a href="http://www.enable-javascript.com/" target="_blank"> instructions how to enable JavaScript in your web browser</a>.
  
  main#JS_main
  
  div#JS_playercontrols()
  
  footer (C) never

  script(src="/scripts.js")
