<article class="">
  <header>
    <img src="{{ image }}" />
    <h2>Episode {{ num }}: {{ title }}</h2>
    <button class="JS_initTrack" name="button" style="display:block">play</button>
  </header>
  <main>
    <p>
      {{ description }}
    </p>
  </main>
  <footer>
    <a href="http://soundcloud.com">Powered by Soundcloud</a>
  </footer>
</article>
