<h2>Episode {{ num }}</h2>
<ul>
  <li><strong>image:</strong> <img src="{{ image }}" /></li>
  <li><strong>title:</strong> {{ title }}</li>
  <li><strong>description:</strong> {{ description }}</li>
</ul>
